.btn-pink {
  background-color: #FF0994;
}

.btn-purple {
  background: rgba(115, 2, 192, 1);
}

.btn-purple-gradient {
  background: rgb(67, 2, 111);
  background: linear-gradient(45deg, rgba(67, 2, 111, 1) 0%, rgb(134, 134, 134) 60%, rgba(231, 192, 247, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.header-bg {
  background: rgb(115, 2, 192);
  background: linear-gradient(202deg, rgba(115, 2, 192, 1) 50%, rgba(255, 255, 255, 1) 50%);
  color: white;
}

.card-element-bg {
  background: #febd13;
}

.card-pic-border-50 {
  border-radius: 50%;
}

.ml-minus-65px {
  margin-left: -65px
}

.mt-7 {
  margin-top: 5rem!important;
}

.mb-7 {
  margin-bottom: 5rem!important;
}

.mb-minus-9 {
  margin-bottom: -7rem!important;
}

.row-break {
  width: 100%;
  height: 5px;
  margin-top: 10rem!important;
  margin-bottom: 5rem!important;
}

.zind-1 {
  z-index: 1;
}

.logo-bg {
  background: rgb(115, 2, 192);
  background: linear-gradient(84deg, rgba(115, 2, 192, 1) 50%, rgba(0, 0, 0, 1) 94%);
}